.header__lang-link {
    color: white;
    transition: opacity 0.4s;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    text-decoration: none;
    margin-left: 18px;
}