/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../vendor/fonts.css);

/* global */
@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);


.lead {
    max-width: 984px;
    margin: 0 auto;
}


.lead__title {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 56px;
    font-family: Inter, sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 16px auto;
        font-size: 40px;
        line-height: 44px;
    }
}

.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 32px;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: white;

}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin: 16px auto;
        font-size: 16px;
        line-height: 20px;
    }
}

.lead__image {
    display: block;

    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 64px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: 580px;
        width: 928px;
        padding-top: 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {

    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100%;
        padding-top: 40px;
    }
}

.lead__caption {
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding-top: 8px;

}

@media screen and (max-width: 1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    }
}


.intro {
    max-width: 690px;
    padding: 92px 0;
    color: white;
}

.intro__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 40px;
    margin: 0;
}

.intro__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding-bottom: 33px;
    margin: 0;
}

.intro__list {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.list-style-regular {
    font-weight: 400;
}